[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ronitviper
[access "refs/for/refs/*"]
	read = group user/ronitviper
	push = group user/ronitviper
	label-Code-Review = -2..+2 group user/ronitviper
	label-Verified = -1..+1 group user/ronitviper
	rebase = group user/ronitviper
	removeReviewer = group user/ronitviper
	submit = group user/ronitviper
[access "refs/heads/*"]
	read = group user/ronitviper
	create = group user/ronitviper
	push = +force group user/ronitviper
	pushMerge = group user/ronitviper
[access "refs/tags/*"]
	push = group user/ronitviper
	push = +force group user/ronitviper
